.contact-container {
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-container p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.contact-container p:last-child {
    margin-bottom: 0;
}

.contact-info {
    margin-top: 30px;
}

.contact-info p {
    margin-bottom: 5px;
}

.thank-you {
    font-style: italic;
    color: #777;
}
